body {
    margin: 0;
    height: 3000px;
}

nav {
    background-color: rgb(36, 36, 36);
    color: white;
    width: 100%;
    padding: 0px;
    position: sticky;
    top: 0px;
}
#navText {
    padding: 10px;
    padding-left: 32px;
    padding-right: 32px;
}

img {
    max-width: 300px;
    max-height: 300px;
}

.largerBox {
    display: grid;
    padding: 32px;
}
#firstLine {
    grid-template-columns: repeat(3, 1fr);
}

section {
    background-color: snow;
    padding: 8px;
}
.moneyInfo {
    display: flex;
    padding: 8px;
}
.number {
    margin-left: auto;
}
.buttonGroup {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.buttonAlone {
    display: grid;
    grid-template-columns: 1fr;
}
button {
    padding: 8px;
    border-radius: 4px;
    border-color: aliceblue;
}
#loanBtn {
    background-color: palegreen;
}
#loanPayBtn {
    background-color: crimson;
}
#bankBtn {
    background-color: gold;
}
#workBtn {
    background-color: darkblue;
    color: white;
}
#buyBtn {
    background-color: deepskyblue;
}


#secondLine {
    grid-template-columns: 0.7fr 1.3fr 1fr;
}
#buyArea {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr;
}
.centerText {
    justify-self: center;
}
